{% extends 'base.html.twig' %}

{% block title %}Créer un show{% endblock %}

{% block body %}
    <div class="container-xl bg-light p-5 border-top">

        <a href="{{ path('app_back_show_browse') }}" class="btn btn-primary">Retour à la liste</a>
        <h1>Ajouter un show</h1>

        {{ form_start(form, {"attr": {"novalidate" : "novalidate"}}) }}
        {{ form_row(form) }}
        <button class="btn btn-primary">Créer le show</button>
        {{ form_end(form) }}

    </div>
{% endblock %}
