{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur le back office{% endblock %}

{% block body %}
    <div class="container-xl bg-light p-5 border-top">

        <h1>Dashboard</h1>

    </div>

{% endblock %}
