{# ce template hérite du template base.html.twig #}
{% extends 'base.html.twig' %}

{# on redéfinit le contenu du block body du fichier base.html.twig #}
{% block body %}
<h1> Hello j'hérite d'un template </h1>
{% endblock %}


{% block title %}
Salut les nems ! 
{% endblock %}

